body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: crosshair;
  background-color: #20a4f3;
  max-width: 1900px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu footer footer footer footer footer";
  gap: 10px;
  padding: 10px;
  margin: 0 auto;
  max-width: auto;
}

.grid-container > * {
  text-align: center;
  padding: 5px 10px;
  width: 100%;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-areas: "header" "main" "menu" "footer";
    padding: 0 10px 0 10px;
    width: 100%;
  }
}

header {
  grid-area: header;
  margin-top: -10px;
}

main {
  grid-area: main;
  margin-top: 20px;
}

aside {
  grid-area: menu;
  margin-top: 20px;
}

footer {
  grid-area: footer;
}

/* header content */

.form {
  margin: 5px 0 0 0;
  float: right;
}

#topButton {
  background-color: #2ec4b6;
  padding: 10px;
  border: 3px solid #011627;
  border-radius: 50px;
  font-size: 12px;
}

.navbarContainer {
  border-bottom: solid 4px white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  margin-left: 30px;
  max-width: auto;
}

.navbar li {
  float: left;
  margin-left: 75px;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  margin: 17px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  border: solid 2px #011627;
}

.navbar li:nth-child(3) a {
  background-color: #2ec4b6;
}

.navbar li a:hover {
  background-color: white;
  border: solid 2px #ff3366;
}

.navbar li:nth-child(3) a:hover {
  background-color: #011627;
  border: solid 2px white;
}

#logo {
  width: 115px;
}

.navIcon {
  width: 30px;
  margin-bottom: -5px;
}

.floatRight {
  margin-top: 45px;
  float: right;
}

.floatLeft {
  text-align: center;
  margin-top: 45px;
  float: left;
}
